<footer>
  <div class="grid-container fluid">
    <div class="grid-x align-middle" style="background: rgba(51, 51, 51, 1); padding: 1rem; border-radius: 0 0 12px 12px; margin-bottom: 10;">
      <div class="cell small-12 medium-12 large-12">
        <img src="~/images/LogoFooter.png" alt="Image description"/>
      </div>
      <div class="cell small-12 medium-6 large-3" style="padding: 1rem; margin: 0;">
        <p style="color: white; text-align: center; margin: 0;">@Model.CoopyRightext</p>
        <p style="color: white; text-align: center; margin: 0;">@Model.TermsConditions</p>
        <p style="color: white; text-align: center; margin: 0;">@Model.WebsiteMakerText</p>
      </div>
      <div class ="cell small-12 medium-6 large-3" style="padding: 1rem; margin: 0;">
        <p style="color: white; text-align: center; margin: 0;">@Model.AdressName</p>
        <p style="color: white; text-align: center; margin: 0;">@Model.AdressLine1</p>
        <p style="color: white; text-align: center; margin: 0;">@Model.AdressLine2</p>
    </div>
    <div class ="cell small-12 medium-6 large-3" style="padding: 1rem; margin: 0;">
        <p style="color: white; text-align: center; margin: 0;">@Model.interactionText1</p>
        <p style="color: white; text-align: center; margin: 0;">@Model.interactionText2</p>
    </div>
    <div class ="cell small-12 medium-6 large-3" style="padding: 1rem; margin: 0;">
        <p style="color: white; text-align: center; margin: 0;">@Model.phoneNumber</p>
        <p style="color: white; text-align: center; margin: 0;">@Model.ContactEmail</p>
    </div>
  </div>
</footer>
